In [1]:
%load_ext autoreload
%autoreload 2

In [28]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
from preprocess import PreprocessMIMIC

# modify this to direct to the data stored locally
file_paths = {
    'edstays': "ED/edstays.csv",
    'admissions': "HOSP/admissions.csv",
    'transfers': "HOSP/transfers.csv",
    'diagnosis': "ED/diagnosis.csv",
    'triage': "ED/triage.csv",
    'vitalsigns': 'ED/vitalsign.csv',
    'medrecon': 'ED/medrecon.csv'
}

# instantiate the preprocessor class to aid cleaning the data
preprocessor = PreprocessMIMIC(file_paths)

In [54]:
edstays = pd.read_csv(file_paths['edstays'])

preprocessor.print_info(edstays)

Information about the DataFrame
#########################
Shape of the df: (425087, 9)

Missing Values:
subject_id                0
hadm_id              222071
stay_id                   0
intime                    0
outtime                   0
gender                    0
race                      0
arrival_transport         0
disposition               0
dtype: int64

The number of unique values per 'object' dtype
[('gender', 2), ('arrival_transport', 5), ('disposition', 8), ('race', 33), ('intime', 422817), ('outtime', 423227)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425087 entries, 0 to 425086
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   subject_id         425087 non-null  int64
 1   hadm_id            203016 non-null  float64
 2   stay_id            425087 non-null  int64
 3   intime             425087 non-null  object
 4   outtime            425087 non-null  object
 5   gender             425087 non-null  object
 6   race               425087 non-null  object
 7   arrival_transport  425087 non-null  object
 8   disposition        425087 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 29.2+ MB
#########################

In [55]:
# perform the processing steps
preprocessor.convert_to_datetime(edstays, ['intime', 'outtime'])
preprocessor.compute_LOS(edstays, 'intime', 'outtime', 'ed')

In [56]:
edstays.head(5)

,subject_id,hadm_id,stay_id,intime,outtime,gender,race,arrival_transport,disposition,ed_los_hours
0,10000032,22595853.0,33258284,2180-05-06 19:17:00,2180-05-06 23:30:00,F,WHITE,AMBULANCE,ADMITTED,253.0
1,10000032,22841357.0,38112554,2180-06-26 15:54:00,2180-06-26 21:31:00,F,WHITE,AMBULANCE,ADMITTED,337.0
2,10000032,25742920.0,35968195,2180-08-05 20:58:00,2180-08-06 01:44:00,F,WHITE,AMBULANCE,ADMITTED,286.0
3,10000032,29079034.0,32952584,2180-07-22 16:24:00,2180-07-23 05:54:00,F,WHITE,AMBULANCE,HOME,810.0
4,10000032,29079034.0,39399961,2180-07-23 05:54:00,2180-07-23 14:00:00,F,WHITE,AMBULANCE,ADMITTED,486.0

In [80]:
vitalsign_df = pd.read_csv(file_paths['vitalsigns'])
triage_df = pd.read_csv(file_paths['triage'])
medrecon_df = pd.read_csv(file_paths['medrecon'])