In [1]:
# basic imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# to visualize missingness
import missingno as msno
# utility functions
from utils import nunique_per_cat
# utility class
from preprocess import PreprocessMIMIC

# sklearn imports

In [3]:
# modify this to direct to the data stored locally
file_paths = {
    'edstays': "ED/edstays.csv",
    'admissions': "HOSP/admissions.csv",
    'transfers': "HOSP/transfers.csv",
    'diagnosis': "ED/diagnosis.csv",
    'triage': "ED/triage.csv",
    'vitalsigns': 'ED/vitalsign.csv',
    'medrecon': 'ED/medrecon.csv',
    'patients': 'HOSP/patients.csv'
}

In [4]:
patients_df = pd.read_csv(file_paths['patients'])

patients_df.head()

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10000032      F          52         2180       2014 - 2016  2180-09-09
1    10000048      F          23         2126       2008 - 2010         NaN
2    10000058      F          33         2168       2020 - 2022         NaN
3    10000068      F          19         2160       2008 - 2010         NaN
4    10000084      M          72         2160       2017 - 2019  2161-02-13